section(class="displayModal")
    h2 Folders:
    ul(class="folders") 
        each folder in folders
            - const editPath = "/editFolder?folderId=" + folder.id
            - const openPath = "/openFolder?folderId=" + folder.id
            - const deletePath = "/deleteFolder?folderId=" + folder.id
            if folder.base === true 
                li(class="defaultFolder") MAIN
                    .buttonContainer
                        form(action=editPath method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") edit
                        form(action=openPath method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") folder_open    
            else 
                li=folder.name
                    .buttonContainer
                        form(action=editPath method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") edit
                        form(action=openPath method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") folder_open    
                        form(action=deletePath method="post")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") delete
                        