section(class="displayModal")
    h2 Folders:
    ul(class="folders") 
        each folder in folders  
            if folder.base === true 
                li(class="defaultFolder") MAIN
                    .buttonContainer
                        form(action="/editFolder" method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") edit
                        form(action="/openFolder" method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") folder_open    
            else 
                li=folder.name
                    .buttonContainer
                        form(action="/editFolder" method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") edit
                        form(action="/openFolder" method="get")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") folder_open    
                        form(action="/deleteFolder" method="post")
                            input(type="hidden" name="folderId" value=folder.id)
                            button(type="submit")
                                span(class = "material-symbols-outlined") delete
                        